<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ea.card.crm.mapper.ExchangeIntegralRecordMapper">
    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id,create_date, create_user, create_user_name, update_date, update_user, update_user_name, data_version, is_delete, 
        tid, user_id, order_no, product_ids, exchange_points, status, remark_msg
    </sql>

    <resultMap id="ExchangeIntegralRecordMap" type="com.ea.card.crm.model.ExchangeIntegralRecord">
        <id column="id" property="id"></id>
        <result column="create_date" property="createDate"></result>
        <result column="create_user" property="createUser"></result>
        <result column="create_user_name" property="createUserName"></result>
        <result column="update_date" property="updateDate"></result>
        <result column="update_user" property="updateUser"></result>
        <result column="update_user_name" property="updateUserName"></result>
        <result column="data_version" property="dataVersion"></result>
        <result column="is_delete" property="isDelete"></result>

        <result column="tid" property="tid"></result>
        <result column="user_id" property="userId"></result>
        <result column="order_no" property="orderNo"></result>
        <result column="product_ids" property="productIds"></result>
        <result column="exchange_points" property="exchangePoints"></result>
        <result column="status" property="status"></result>
        <result column="remark_msg" property="remarkMsg"></result>
    </resultMap>
	<!-- 根据订单号查询List 
    <select id="selectListByOrderNo" resultMap="ExchangeIntegralRecordMap">
        SELECT 
		  <include refid="Base_Column_List" /> 
		FROM
		  ea_integral_trading_record 
		WHERE user_id = #{userId}
		<if test="list != null and list.size>0">
			AND order_no IN
			<foreach collection="list" item="orderno" index="index" open="(" close=")" separator=",">
				#{orderno}
			</foreach> 
		</if>
    </select>-->
</mapper>