<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="../../../css/main_page.css" rel="stylesheet" type="text/css" />
</head>

<body class="body">
<div>
    <div class="widget" id="data">
        <div class="title">
            <img src="../../../images/icons/dark/full2.png" alt="" class="titleIcon">
            <h6>用户授权</h6>
            <div class="btn-group">
                <a href="javascript:void(0)" class="btn btn-primary_gray tb-btn" @click="auth">授权</a>
                <a v-bind:href="allHref" class="btn tb-btn">所有用户</a>
                <a v-bind:href="authHref" class="btn tb-btn">已授权用户</a>
                <a v-bind:href="unAuthHref" class="btn tb-btn">未授权用户</a>
                <a href="index.html" class="btn btn-default tb-btn">返回</a>
            </div>
        </div>
        <table cellpadding="0" cellspacing="0" border="0" class="display dTable">
            <thead>
            <tr>
                <th class="left-th" width="10%">
                    <input id="allBtn" type="checkbox" v-model="isCheckAll"/>全选
                </th>
                <th width="12%">姓名</th>
                <th>手机</th>
            </tr>
            </thead>
            <tbody>
            <tr v-cloak v-for="item in pageData.items">
                <td class="left-td"><input type="checkbox" name="selectedIds" v-model="selectedIds" v-bind:value="item.id"/></td>
                <td>{{item.name}}</td>
                <td>{{item.mobile}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript" src="../../../js/require.js"></script>
<script type="text/javascript" src="../../../js/main.js"></script>
<script type="text/javascript">
    require(['role_user_ctl'], function (c) {
        c.init();
    });
</script>
</body>
</html>
