<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.lmtech.infrastructure.mapper.ResourceMapper">
    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        ID, NAME, TYPE, REMARK, MODULECODE, MODULENAME, CATEGORYCODE, CATEGORYNAME, DEVICE, ENABLE,
        CREATE_DATE, CREATE_USER, CREATE_USER_NAME, UPDATE_DATE, UPDATE_USER, UPDATE_USER_NAME, DATA_VERSION, IS_DELETE
    </sql>

    <resultMap id="resourceMap" type="com.lmtech.infrastructure.model.Resource">
        <id column="ID" property="id"></id>
        <result column="NAME" property="name"></result>
        <result column="TYPE" property="type"></result>
        <result column="REMARK" property="remark"></result>
        <result column="MODULECODE" property="moduleCode"></result>
        <result column="MODULENAME" property="moduleName"></result>
        <result column="CATEGORYCODE" property="categoryCode"></result>
        <result column="CATEGORYNAME" property="categoryName"></result>
        <result column="DEVICE" property="device"></result>
        <result column="ENABLE" property="enable"></result>
        <result column="CREATE_DATE" property="createDate"></result>
        <result column="CREATE_USER" property="createUser"></result>
        <result column="CREATE_USER_NAME" property="createUserName"></result>
        <result column="UPDATE_DATE" property="updateDate"></result>
        <result column="UPDATE_USER" property="updateUser"></result>
        <result column="UPDATE_USER_NAME" property="updateUserName"></result>
        <result column="DATA_VERSION" property="dataVersion"></result>
        <result column="IS_DELETE" property="isDelete"></result>
    </resultMap>

    <select id="selectResourceInRole" resultMap="resourceMap">
        select t1.* from lm_resource t1,lm_role_resource_permission t2 where t1.id=t2.resource_id and t2.role_id=#{roleId}
        <include refid="whereCond"></include>
    </select>

    <select id="selectResourceNotInRole" resultMap="resourceMap">
        select t1.* from lm_resource t1 where t1.id not in (select t2.resource_id from lm_role_resource_permission t2 where t2.role_id=#{roleId})
        <include refid="whereCond"></include>
    </select>

    <sql id="whereCond">
        <if test="param != null">
            and t1.enable=#{param.enable}
            <if test="param.name != null and param.name != ''">
                and t1.name like '%${param.name}%'
            </if>
        </if>
    </sql>

    <delete id="deleteResourceRelation" parameterType="java.lang.String">
        delete from lm_role_resource_permission where resource_id=#{resourceId}
    </delete>
</mapper>