<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.lmtech.infrastructure.mapper.TenancyMapper">
    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        create_date, create_user, create_user_name, update_date, update_user, update_user_name, data_version, is_delete,
        code,name,phone,mobile,qq,weixin,address,status,info,user_id,user_name,app_id,secret,card_id,pay_api_key,applet_app_id,
        applet_secret,applet_card_id,applet_pay_api_key
    </sql>

    <resultMap id="tenancyMap" type="com.lmtech.infrastructure.model.Tenancy">
        <id column="id" property="id"></id>
        <result column="create_date" property="createDate"></result>
        <result column="create_user" property="createUser"></result>
        <result column="create_user_name" property="createUserName"></result>
        <result column="update_date" property="updateDate"></result>
        <result column="update_user" property="updateUser"></result>
        <result column="update_user_name" property="updateUserName"></result>
        <result column="data_version" property="dataVersion"></result>
        <result column="is_delete" property="isDelete"></result>

        <result column="code" property="code"></result>
        <result column="name" property="name"></result>
        <result column="phone" property="phone"></result>
        <result column="mobile" property="mobile"></result>
        <result column="qq" property="qq"></result>
        <result column="weixin" property="weixin"></result>
        <result column="address" property="address"></result>
        <result column="status" property="status"></result>
        <result column="info" property="info"></result>
        <result column="user_id" property="userId"></result>
        <result column="user_name" property="userName"></result>
        <result column="app_id" property="appId"></result>
        <result column="secret" property="secret"></result>
        <result column="card_id" property="cardId"></result>
        <result column="pay_api_key" property="payApiKey"></result>
        <result column="applet_app_id" property="appletAppId"></result>
        <result column="applet_secret" property="appletSecret"></result>
        <result column="applet_card_id" property="appletCardId"></result>
        <result column="applet_pay_api_key" property="appletPayApiKey"></result>
    </resultMap>

    <select id="selectByCode" resultMap="tenancyMap">
        select * from lm_tenancy where is_delete=0 and code=#{code}
    </select>
</mapper>