.widget .title div.title-action {
    height: 100%;
    float: right;
    vertical-align: middle;
    padding: 0px;
    min-width: 60px
}
[v-cloak] {
    display: none;
}
.btn-group {
    display: block;
    padding-left: 10px;
    margin: 5px;
}
.btn-group a {
    margin-left: 0px;
}
